* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s;
}

#p1 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

#scenarioParagraph {
  color: white;
  font-size: 30px;
}

#p3 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

#choice1 {
  font-size: 25px;
  border-radius: 5px;
}

#choice2 {
  font-size: 25px;
  border-radius: 5px;
}

body {
  background: black;
  min-width: 1250px;
}


header {
  background-image: url("img\1 (7).jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  border: 5px groove #D4AF37;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

header div {
  position: relative;
  top: 25px;
  left: 25px;
}

/*header div nav {
  border: 1px solid red;
}*/

header h1 {
  font-family: 'Movie', cursive;
  font-size: 3.3em;
  color: blue;
  margin-bottom: 20px;
}

header nav {
  display: block;
  padding: 0;
  margin: 0;
}

header ul {
  display: inline;
  padding: 0;
}

header ul li {
  display: inline;
  color: white;
  /*background: rgba(1, 25, 16, .95);*/
  background: #777;
  opacity: .7;
  color: black;
  border: 2px solid Silver;
  border-radius: 10%;
  padding: 15px;
  margin: 10px;
}

header ul li:active, header ul li:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

header ul li:focus, header ul li:focus {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}


li a {
  color: white;
  text-decoration: none;
}

 li:hover {
   background-color: gold;
   color: black;
   duration: 200ms;
   animation-name: levitate;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   -webkit-animation: levitate 1s linear infinite alternate;
 }

 a:hover {
   background-color: gold;
   color: black;
   duration: 200ms;
 }

 @-webkit-keyframes levitate {
   from {
     transform: translateY(6.9px);
   }
   to {
     background: 	#F0F8FF;
   }
 }

 @keyframes levitate {
   from {
     transform: translateY(6.9px);
   }
   to {
     background: #AFEEEE;
   }
 }

 #IR {
   background-image: url('img\1 (7).jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 90%;
   margin: 2% auto;
   border-radius: 25px;
   border: 5px groove silver;
   height: 500px;
 }

 #IR p {
   margin: 15px;
   color: white;
   font-size: 30px;
   background-color: rgba(0,0,0,.5);
   border-radius: 25px;
   padding: 15px;
 }

#lessonContainer {
  background: #FF4500;
  width: 90%;
  margin: 2% auto;
  border-radius: 25px;
  border: 5px groove #D4AF37;
  height: auto;
}

#Credits {
  background-image: url('img\1 (5).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: 90%;
  margin: 2% auto;
  border-radius: 25px;
  border: 5px groove silver;
  height: auto;
}

button {
  border: silver;
  padding: 5px 15px;
  background: #1C95E0;
  color: white;
  border-radius: 3px;
  font-size: 10px;
  margin: 12px 12px 12px 12px;
  transition: 350ms all;
  cursor: pointer;
}

#storyContainer {
  background: #ddd;
  width: 70%;
  height: 380px;
  margin: 10px auto;
  border-radius: 25%;
  border: 3px outset gold;
}

#lessonContainer p {
  font-family: 'Indie Flower', cursive;
  color: black;
  width: 60%;
  margin: 25px auto;
  display: block;
  position: relative;
  bottom: 370px;
  left: 170px;
}

#lessonContainer button {
  display: block;
  margin: 50px auto;
  width: 400px;
}

#lessonContainer button:hover {
  background: #800000;
}

#txt0 {
  margin-left: 1.5%;
}

#textDiv span{
  margin-bottom: 3%;
  display: inline-block;
  position:relative;
  top:20px;
  visibility:hidden;
  font-size: 57px;
  -webkit-font-smoothing:antialiased;
}
